header{
    background-color: #98E4FF;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}
h1{
    text-align: center;
    margin: 0px 0px 75px 0px;
    
}

span{
    text-align: center;
}

.header{
    display:flex;
    justify-content: space-between;
    gap: 1px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #98E4FF;
    margin: 0px 0px 0px 0px;
}