/**
* https://colorhunt.co/palette/b6fffa98e4ff80b3ff687eff
*/



html{
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  background-color: #B6FFFA;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
body{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}